.home-page {
    position: relative;
}

.home-content, .home-trips {
    margin-bottom: -5rem;
}

/* Heading ------------------------------------ */
.home-heading {
    display: flex;
    justify-content: right;
    background-color: white;
    padding: 2rem 0;
}

.home-heading-left {
    margin: auto 0;
}

.home-heading-details {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.home-heading-details h1 {
    width: 12rem;
    font-size: 5.5rem;
    font-family: 'Bebas Neue', cursive;
    margin-right: 1rem;
}

.home-heading-details div {
    width: auto;
}

.home-heading > div > h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.1rem;
}

.home-heading > div > h2 {
    padding-top: 1rem;
}

.home-heading > div > p {
    padding-left: 2rem;
}

/* Trips ------------------------------------ */
.home-trips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    height: auto;
}

.home-trips > div > button > img {
    object-fit: cover;
    width: 18vw;
    height: 35vh;
    border: 1rem solid white;
}

.home-trips > div > button > h4 {
    color: #AB8466;
    background-color: white;
    width: 18vw;
    height: 10vh;
    padding: 0.5rem;
}

.home-trips > div > p {
    padding-top: 1rem;
    padding-right: 10rem;
}

/*  ------------------------------------ */
.home-images {
    display: flex;
    justify-content: center;
}

/* Grid ------------------------------------ */
.home-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.home-grid > img {
    width: 15vw;
    height: 30vh;
    display: flex;
    align-items: top;
    background-size: cover;
    justify-content: left;
    object-fit: cover;
}

.home-grid img:nth-child(1) {
    grid-row:  2 / span 2;
    grid-column: 1;
}

.home-grid img:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.home-grid img:nth-child(3) {
    grid-row: 3 / span 2;
    grid-column: 2;
}

.home-grid img:nth-child(4) {
    grid-row:  2 / span 2;
    grid-column: 3;
}

.home-grid img:nth-child(5) {
    grid-row:  4 / span 2;
    grid-column: 3;
}

.home-grid img:nth-child(6) {
    grid-row:  3 / span 2;
    grid-column: 4;
}

/* Heading ------------------------------------ */
.home-heading > div > a:hover {
    color: rgb(251, 186, 88);
}

/* Buttons + Links ------------------------------------ */
.home-explore-link {
    font-family: 'Abel', sans-serif;
    color: #FF9659;
    font-weight: bold;
    text-decoration: none;
}

.home-btn-create {
    border: none;
    background-color: #faa06b;
    height: 3rem;
    width: 15rem;
    margin: 3rem auto;
    padding: 0.5rem 1rem;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}

.home-btn-create:hover {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    background-color: #ffa571;
    border-color: #ffa571;
}

/* Travelers ------------------------------------ */
.home-travelers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    height: auto;
    background-color: rgba(255, 255, 255, 0.885);
}

.home-travelers > div > button > img {
    border-radius: 100%;
}

.home-card-list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 3rem auto;
    justify-content: center;
}

.home-card-list > button {
    margin: 1.5rem;
    border: none;
    background-color: transparent;
}

.home-card-list > button > img {
    justify-content: center;
    height: 15rem;
    width: 15rem;
    align-self: center;
    object-fit: cover;
}

.home-travelers > svg {
    width: 2rem;
    height: 2rem;
}

.home-travelers > svg:hover {
    color: #FF9659;
}

/* Toggle ------------------------------------ */
.home-trips-toggle-heading {
    display: flex;
}

.toggle-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10rem;
    background-color: white;
}

.home-trips-toggle-heading > h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0.5rem;
}

.heading-dynamic-orange {
    color: #ffb387
}

.heading-dynamic-green {
    color: #afd9b4
}

.toggle-title-new, .toggle-title-custom {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffb387;
    width: 40rem;
}

.toggle-title-new {
    color: #afd9b4;
}

.section-toggle::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.4s;
}

.section-toggle.active::after {
    transform: translateX(0);
}

.toggle-container {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1rem 1rem 0;
    max-width: 300px;
    background-color: transparent;
    text-align: left;
    font-size: 1.5rem;
}

.input-toggle {
    display: inline-block;
    width: 40rem;
    text-align: center;
}

.input-toggle label {
    letter-spacing: 0.025em;
    color: #676767;
}

.input-toggle .input {
    position: absolute;
    visibility: hidden;
}

.input-toggle .input + .toggle {
    position: relative;
    height: 10px;
    width: 45px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #e4ecfa;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s 0.05s;
}

.input-toggle .input + .toggle::before, .input-toggle .input + .toggle::after {
    content: "";
    position: absolute;
    transition: 0.35s;
}

.input-toggle .input + .toggle::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    background-color: #71a376;
}

.input-toggle .input + .toggle::after {
    left: 5px;
    top: 50%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: #afd9b4;
    transform: translateY(-50%);
    opacity: 1;
}

.input-toggle .input + .toggle:hover::after {
    transform: translateY(-50%) scale(1.1);
}

.input-toggle .input:checked + .toggle {
    background-color: #fadfe0;
}

.input-toggle .input:checked + .toggle::before {
    width: calc(100% - 5px);
    background-color: #FF9659;
}

.input-toggle .input:checked + .toggle::after {
    left: calc(100% - (20px + 5px));
    background-color: #f8bc99;
}