.page-auth {
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.page-login::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("https://res.cloudinary.com/dupram4w7/image/upload/v1708576733/pexels-maria-orlova-4946983_ilfyqf.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(0.5rem);
}

.page-register::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("https://res.cloudinary.com/dupram4w7/image/upload/v1708588159/pexels-edgar-rodrigo-17011415_bicix9.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(0.5rem);
}

.navbar__auth {
    margin: 1rem 0;
}

.container-auth {
    display: flex;
    height: 85vh;
    width: 60vw;
    margin: 2vh auto;
    background-color: white;
    box-shadow: 0 0.2rem 1rem 0 rgba(189, 190, 191, 0.404), 0 0.2rem 0.5rem 0 rgba(172, 172, 173, 0.218);
}

.auth-form {
    width: 30vw;
    text-align: center;
    background-color: white;
    font-family: 'Abel', sans-serif;
    padding: 0;
    margin: auto;
    font-size: medium;
    padding: 2rem 5rem;
}

.auth-form h1 {
    margin: auto -5rem
}

.input-accountType{
    display: flex;
    justify-content: space-evenly;
}

.auth-img {
    width: 30vw;
    height: 85vh;
    object-fit: cover;
}

.auth-title{
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    margin-bottom: 0;
}

.btn-login, .btn-register {
    border-color: #AB8466;
    background-color: #AB8466;
    height: 2.6rem;
    width: 10rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem 0;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    color: whitesmoke;
}

.btn-login:hover, .btn-register:hover {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    background-color: #e7af85;
    border-color: #e7af85;
}