.destinations-container {
    display: flex;
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/dupram4w7/image/upload/v1708561137/pexels-maria-orlova-4947223_gmsewn.jpg');
    background-repeat: no-repeat;
    background-position: cover;
}

.destination-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: $blue;

        h1 {
            font-family: 'Bebas Neue', cursive;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            padding: 0;
            color: $blue;
        }
    
        h2 {
            font-family: 'Satisfy', cursive;
            font-size: 4rem;
            padding: 0 0 0 10rem;
        }
    }
}

.destination-list-heading h1 {
    color: #AB8366;
    letter-spacing: 0.2rem;
    padding-right: 10rem;
}

/*  ------------------------------------ */
.destinations-heading-images {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}

/* Grid ------------------------------------ */
.destinations-heading-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.destinations-heading-grid > img {
    width: 12vw;
    height: 25vh;
    display: flex;
    align-items: top;
    background-size: cover;
    justify-content: left;
    object-fit: cover;
}

.destinations-heading-grid img:nth-child(1) {
    grid-row:  2 / span 2;
    grid-column: 1;
}

.destinations-heading-grid img:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.destinations-heading-grid img:nth-child(3) {
    grid-row: 3 / span 2;
    grid-column: 2;
}

.destinations-heading-grid img:nth-child(4) {
    grid-row:  2 / span 2;
    grid-column: 3;
}

.destinations-heading-grid img:nth-child(5) {
    grid-row:  4 / span 2;
    grid-column: 3;
}

.destinations-heading-grid img:nth-child(6) {
    grid-row:  3 / span 2;
    grid-column: 4;
}

/*  ------------------------------------ */
.destinations-search {
    margin: 0 auto;
    display: flex;
}

.destinations-search h4 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: white;
}

.search-bar-destination {
    margin: 0 auto 5rem auto !important;
    width: 100% !important;
    height: 10rem !important;
    background-color: $blueLight !important;

    input {
        background-color: $blueLight !important;
        color: white !important;
        font-size: 1rem !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-bottom: 0.2rem solid white !important;
    }

    input::placeholder{
        color: white !important;
    }
}

.destination-list-img-cover-bottom {
    width: 55%;
    height: 25rem;
    object-fit: cover;
    margin: 8rem auto -5rem 0;
}

.destination-list-img-cover-top {
    width: 85%;
    height: 35rem;
    object-fit: cover;
    margin: 5rem 0 5rem auto;
    border: 1rem solid white;
}

/* Grid ------------------------------------ */
.destinations-grid {
    width: 60%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 4rem;
    margin: 0 auto;

    div {
        button {
            div {
                display: flex;
                padding: 2rem;
                justify-content: center;
                background-color: $white;
                color: $blueLight;
                border-radius: 100%;
                width: 20rem;
                height: 20rem;
                box-shadow: 0rem 0.3rem 0.3rem 0.3rem rgba(212, 212, 212, 0.109);

                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

.destinations-grid > div > button{
    border: none;
    background-color: transparent;
}

.destinations-grid > div > div > div > h4 {
    font-size: 3rem;
    margin: 0;
}

.destinations-grid > img {
    width: 25vw;
    height: 30vh;
    align-items: top;
    object-fit: cover;
}

.destinations-grid div:nth-child(1) {
    grid-row:  1;
    grid-column: 1;
}

.destinations-grid div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.destinations-grid div:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}