.page-experiences {
    display: flex;
    flex-direction: column;
    position: relative;

    .card-preview {
        width: 100%;
        justify-content: center;
    }
}

.page-experiences > h1 {
    text-align: center;
}

.heading-experiences {
    display: flex;
    justify-content: right;
    padding-bottom: 3rem;
}

.heading-experiences-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #AB8466;
    padding: 2rem;
    margin-right: 10rem;
    width: 15%;
    letter-spacing: 0.5rem;
}

.experience-list-img-left {
    width: 35%;
    height: 30rem;
    object-fit: cover;
    padding-right: 1rem
}

.experience-list-img-cover {
    width: 65%;
    height: 30rem;
    object-fit: cover;
}

.btn-website {
    background-color: $orange;
    color: white;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}

.search-bar__experiences {
    background-color: $blueLight !important;

    svg {
        fill: $white !important;
    }

    input {
        background-color: $blueLight !important;
        color: $white !important;
        border-bottom: 0.2rem solid $white !important;
    }

    input::placeholder{
        color: $white !important;
    }
}

.card-list__experiences {
    background-color: $blueDark;
    width: 100% !important;
    padding: 5rem 10rem !important;
}

.experience-status-icons {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: -7%;
    z-index: 2;

    button {
        border: none;
    }

    svg {
        fill: white !important;
    }
}

.experience-status-icons > div, .experience-status-icons > button {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icon-experienceType {
    background-color: #AB8366;
}

.icon-season {
    background-color: #ff9659;
}

.icon-website {
    background-color: #86cfb2;
}

/* Experience Grid ------------------------------------ */
.experiences-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 3rem;
    margin: 3rem auto;
    min-height: 100vh;

    .card__experience {
        display: flex;
        flex-direction: column;
        width: 25rem;
        height: auto;
        justify-content: center;
        color: white;

        .card--image {
            width: 25rem;
            height: 25rem;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .card__experience:hover {
        opacity: $hoverOpacity;
        box-shadow: $hoverShadow;
    }
}

.experiences-grid > div > button {
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #AB8366;
    border: none;
    background-size: cover;
}

.experiences-grid div:nth-child(1) {
    grid-row:  1;
    grid-column: 1;
}

.experiences-grid div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.experiences-grid div:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

.experiences-details > h3 {
    font-family: 'Bebas Neue', cursive;
    color: gray;
    text-align: center;
}