.page-experiences {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;

    .card-preview {
        width: 100%;
        justify-content: center;
    }
}

.page-experiences > h1 {
    text-align: center;
}

.heading-experiences {
    display: flex;
    justify-content: right;
    margin-top: 5rem;
    padding: 5rem 0;
}

.heading-experiences-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #AB8466;
    padding: 2rem;
    margin-right: 10rem;
    width: 15%;
    letter-spacing: 0.5rem;
}

.experience-list-img-left {
    width: 35%;
    height: 30rem;
    object-fit: cover;
    padding-right: 1rem
}

.experience-list-img-cover {
    width: 65%;
    height: 30rem;
    object-fit: cover;
}

.btn-website {
    background-color: $orange;
    color: white;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}