.home-page {
    position: relative;
    background-color: #ead6ca;
}

.home-content, .home-trips {
    margin-bottom: -5rem;
}

/* Heading ------------------------------------ */
.home-heading {
    display: flex;
    justify-content: right;
    background-color: $backgroundLight;
}

.home-heading-left {
    margin: auto 0;

    button {
        border: none;
        background-color: $orange;
        margin: 3rem auto;
        width: 15rem;
        height: 5rem;
        padding: 1rem;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: bold;
        letter-spacing: 0.1rem;
        box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    }

    button:hover {
        box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
        background-color: #ffa571;
        border-color: #ffa571;
    }
}

.home-heading-details {
    padding: 0 5rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.home-heading-details h1 {
    width: 12rem;
    font-size: 5.5rem;
    font-family: 'Bebas Neue', cursive;
    margin-right: 10rem;
    color: white;
}

.home-heading-details div {
    width: auto;
}

.home-heading > div > h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.1rem;
}

.home-heading > div > h2 {
    padding-top: 1rem;
}

.home-heading > div > p {
    padding-left: 2rem;
}

/* Trips ------------------------------------ */
.home-trips {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    height: auto;
    background-color: white;

    .heading {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 10rem;

        h2 {
            font-family: 'Bebas Neue', cursive;
            font-size: 4rem;
            letter-spacing: 0.2rem;
        }
    }

    div {
        button {
            padding: 2rem;

            img {
                object-fit: cover;
                width: 15vw;
                height: 35vh;
            }

            p {
                color: $brown;
                padding: 0.5rem;
            }
        }
    }
}

.home-trips > div > p {
    padding-top: 1rem;
    padding-right: 10rem;
}

/*  ------------------------------------ */
.home-images {
    display: flex;
    justify-content: center;
}

/* Grid ------------------------------------ */
.home-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

.home-grid > img {
    width: 15vw;
    height: 45vh;
    display: flex;
    align-items: top;
    background-size: cover;
    justify-content: left;
    object-fit: cover;
}

/* Heading ------------------------------------ */
.home-heading > div > a:hover {
    color: rgb(251, 186, 88);
}

/* Buttons + Links ------------------------------------ */
.home-explore-link {
    font-family: 'Abel', sans-serif;
    color: #FF9659;
    font-weight: bold;
    text-decoration: none;
}

.home-btn-create {
    border: none;
    background-color: $orange;
    height: 3rem;
    width: 15rem;
    margin: 3rem auto;
    padding: 0.5rem 1rem;
    align-items: center;
    text-align: center;
    color: white;
}

.home-btn-create:hover {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(157, 157, 157, 0.24), 0 0.2rem 0.5rem 0 rgba(164, 164, 164, 0.19);
    background-color: #ffa571;
    border-color: #ffa571;
}

/* Travelers ------------------------------------ */
.home-travelers {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
    height: auto;
    background-color: $white;

    .heading {
        display: flex;
        flex-direction: column;
        padding-left: 10rem;

        h2 {
            font-family: 'Bebas Neue', cursive;
            font-size: 4rem;
            letter-spacing: 0.2rem;
        }
    }
}

.home-travelers > div > button > img {
    border-radius: 100%;
}

.home-card-list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin: 3rem auto;
    justify-content: center;

    button {
        border: none;
        background-color: transparent;

        img {
            justify-content: center;
            height: 15rem;
            width: 15rem;
            align-self: center;
            object-fit: cover;
        }

        p {
            overflow: hidden;
            width: 100%;
            margin: 0;
            color: $blueLight;
        }
    }
}

.home-travelers > svg {
    width: 2rem;
    height: 2rem;
}

.home-travelers > svg:hover {
    color: #FF9659;
}

/* Toggle ------------------------------------ */
.home-trips-toggle-heading {
    display: flex;
    flex-direction: column;
}

.toggle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blueLight;
    padding: 2rem 0;
}

.home-trips-toggle-heading > h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 1rem;
}

.heading-dynamic-orange {
    color: #ffb387
}

.toggle-title-new, .toggle-title-custom {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffb387;
    width: 40rem;
}

.toggle-title-new {
    color: $blue;
}

.section-toggle::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.4s;
}

.section-toggle.active::after {
    transform: translateX(0);
}

.toggle-container {
    padding: 2.5rem 0;
    background-color: transparent;
    text-align: left;
}

.input-toggle {
    display: inline-block;
    text-align: center;

    label {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.75rem;
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        margin: 0 2rem;
    }
}


.input-toggle .input {
    position: absolute;
    visibility: hidden;
}

.input-toggle .input + .toggle {
    position: relative;
    height: 2rem;
    width: 5rem;
    margin: 0 1rem;
    border-radius: 1rem;
    background-color: #e4ecfa;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s 0.05s;
}

.input-toggle .input + .toggle::before, .input-toggle .input + .toggle::after {
    content: "";
    position: absolute;
    transition: 0.35s;
}

.input-toggle .input + .toggle::after {
    left: 0.2rem;
    top: 50%;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: $blue;
    transform: translateY(-50%);
    opacity: 1;
}

.input-toggle .input + .toggle:hover::after {
    transform: translateY(-50%) scale(1.1);
}

.input-toggle .input:checked + .toggle {
    background-color: #ffa775;
}

.input-toggle .input:checked + .toggle::before {
    width: calc(100% - 5px);
    background-color: #FF9659;
}

.input-toggle .input:checked + .toggle::after {
    left: calc(100% - (20px + 5px));
    background-color: #f4c0a3;
}