.navbar {
    display: flex;
    font-family: 'Abel', sans-serif;
    padding: 0 1rem;
    width: 100%;
    height: 7rem;
    align-items: center;
    justify-content: space-between;
    background-color: transparent !important;
    position: fixed !important;
    z-index: 1001;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.scroll {
    background-color: $white !important;

    button {
        color: $brown !important;
    }
}

.scroll__landing {
    background-color: $blueLight !important;
}

.navbar-btn {
    font-size: 1.2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 0.2rem;
    border: none;
    background-color: transparent;
    color: white;
    height: 3rem;
    width: auto;
    padding: 0.4rem;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(192, 192, 192, 0);  
    text-transform: uppercase;
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease; 
}

.navbar-btn:hover {
    font-weight: 600;
}

.navbar-account {
    border: none;
    border-radius: 100%;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0;
    margin: 1rem;
}

.account-img {
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.navbar-btn-home {
    font-size: medium;
    border: none;
    background-color: transparent;
    width: 9rem;
    padding: 0;
    margin: 0 10rem 0 3rem;
}

.home-img {
    height: auto;
    width: 5rem;
}