.page-travelers {
    display: flex;
    flex-direction: column;
    background-color: $backgroundWarm;
}

.page-travelers h2 {
    font-family: 'Bebas Neue', cursive;
    margin: 1rem auto;
    letter-spacing: 1rem;
}

.page-travelers h4 {
    margin-bottom: 5rem;
}

.heading-travelers {
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: space-between;

    .details {
        margin: 2rem -30rem 0 2rem;
        z-index: 2;
        color: white;
    }

    .images {
        display: flex;
        justify-content: center;
    }
    
    .grid {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(5, 1fr);

        img {
            width: 20vw;
            height: 50vh;
            display: flex;
            align-items: top;
            background-size: cover;
            justify-content: left;
            object-fit: cover;
        }
    }
}

.heading-travelers-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #AB8466;
    padding: 2rem;
    margin: 6rem;
    width: 15%;
    border-left: 0.5rem solid #AB8466;
}

.traveler-list-img-cover {
    width: 65%;
    height: 30rem;
    object-fit: cover;
}

.traveler-list-name {
    margin: -2rem 0 0 0 !important;
}

.cards-travelers {
    margin-top: 2rem !important;
}

.travelers-cards-container {
    background-color: $white;
    margin-top: 5rem;
}

.input-search {
    border: none;
    border-bottom: 0.2rem solid gray;
    box-shadow: 0.2rem 0.2rem rgba(211, 211, 211, 0.511);
    margin: 5rem 8rem 2rem 0;
    outline: none;
}