.page-traveler {
    display: flex;
    flex-direction: column;
    background-color: #FFFAF6;
}

.traveler-img-cover {
    width: 100%;
    height: 70rem;
    object-fit: cover;
    margin-top: -10rem;
}

.traveler-profile {
    border: solid 1rem rgba(255, 255, 255, 0.524);
    background: white;
    border-radius: 15%;
    width: 65%;
    margin: -30rem auto 0 auto;
    padding: 2rem 0 10rem 12%;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.24), 1rem 0 1rem 0 rgba(13, 13, 13, 0.19);
}

.traveler-profile-trip-heading {
    display: flex;
    flex-direction: column;
}

.traveler-profile-trip-heading > button {
    width: 5rem;
    margin-left: 55rem;
}

.traveler-profile-name {
    margin-bottom: 0;
    font-size: xx-large;
}

.traveler-profile-username {
    margin-top: 0;
}

.traveler-img-profile {
    margin-top: -8rem;
    height: 15rem;
    width: 15rem;
}

.profile-info {
    display: flex;
}

.profile-info > p {
    margin: 0 2rem 0 0;
}

.traveler-trips {
    display: flex;
    justify-content: left;
}

.traveler-trip-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
}

.traveler-trip-grid > button {
    width: 20rem;
    height: 100%;
    display: flex;
    align-items: top;
    background-size: cover;
    justify-content: left;
}

.traveler-trip-grid > button:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(61, 61, 61, 0.24), 0 0.5rem 1rem 0 rgba(63, 63, 63, 0.19);
}

.traveler-trip-grid > button > p {
    border-color: #AB8466;
    background-color: #AB8466;
    height: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    color: whitesmoke;
}

.traveler-trip-grid button:nth-child(1) {
    grid-row:  1 / span 2;
    grid-column: 1;
    width: 40rem;
    border-radius: 10%;
}

.traveler-trip-grid button:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    height: 20rem;
    border-radius: 10%;
}

.traveler-trip-grid button:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    height: 20rem;
    border-radius: 10%;
}