.travelers-main > h1 {
    text-align: center;
}

.input-search {
    border: none;
    border-bottom: 0.2rem solid gray;
    box-shadow: 0.2rem 0.2rem rgba(211, 211, 211, 0.511);
    margin: 5rem 8rem 2rem 0;
    outline: none;
}