@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Caveat&family=Montserrat:wght@100;300;400;500;600;700;900&family=Satisfy&display=swap');

div {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(103, 103, 103);
}

code {
  font-family: 'Montserrat', sans-serif;
}
