@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@100;200;300;400;700;900&family=Bebas+Neue&family=Caveat&family=Noto+Nastaliq+Urdu:wght@400;500;600;700&family=Satisfy&display=swap');

body {
  margin: 0;
  font-family: 'Noto Nastaliq Urdu', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Nastaliq Urdu', serif;
}
