.page-trips {
    display: flex;
    flex-direction: column;
}

.heading-trips {
    display: flex;
    flex-direction: column;
}

.heading-trips > img {
    margin: 0 auto 0 auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.heading-trips-details {
    display: flex;
    justify-content: center;
    margin: 4rem auto -28rem auto;
    z-index: 1;
}

.heading-trips-details h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 0.5rem 1.5rem 0 0;
    letter-spacing: 0.2rem;
}
.heading-trips-details h3 {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
}

.trips-btn-create {
    margin: 1rem;
}